.sheet-modecontent {
  position: relative;
  display: none;
  margin-top: 12px;
  grid-template-columns: 150px repeat(5, calc((100% - 210px) / 5));
  grid-template-rows: repeat(auto-fill, minmax(45px, auto));
  grid-auto-flow: row dense;
  grid-column-gap: 12px;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  grid-row-gap: 12px;
  row-gap: 12px;
  justify-items: stretch;
  -webkit-box-align: start;
  align-items: start;
}
input[type="hidden"][name*="mode"][value="character"]
  ~ .sheet-modecontent-character {
  display: grid;
}
input[type="hidden"][name*="mode"][value="character"]
  ~ .sheet-header
  .sheet-modetoggle::before {
  content: "Character";
}
input[type="hidden"][name*="mode"][value="party"] ~ .sheet-modecontent-party {
  display: grid;
}
input[type="hidden"][name*="mode"][value="party"]
  ~ .sheet-header
  .sheet-modetoggle::before {
  content: "Party";
}
h2 {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 5px 5px;
  font: bold 12px / 1.5 Georgia, serif;
  color: white;
  text-transform: uppercase;
  background: transparent url("https://thelastbook.github.io/sheet/strip.png")
    center top no-repeat;
  background-size: auto 30px;
}
h2::first-letter {
  font-size: 16px;
}
h2 > span {
  float: right;
}
h3 {
  margin-top: 6px;
  font: bold 9px / 1.5 Georgia, serif;
  text-transform: uppercase;
  color: #222;
}
h3::first-letter {
  font-size: 12px;
}
button[type="roll"] {
  margin: 0 !important;
  padding: 0 !important;
  width: 20px;
  height: auto;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
button[type="roll"]::before {
  content: none !important;
}
button[type="roll"]::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-left: 2px;
  font-family: "dicefontd10" !important;
  content: "0" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}
.sheet-toggle[value="checked"] ~ h2 {
  background-color: #222;
  padding: 0 5px;
}
.sheet-toggle ~ h2 {
  background-color: transparent;
  padding: 0 5px 5px;
}
.sheet-boxed > .sheet-toggle ~ div.sheet-drawer {
  display: block;
}
.sheet-boxed > .sheet-toggle[value="checked"] ~ div.sheet-drawer {
  display: none;
}
.sheet-sec-details {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.sheet-sec-moves {
  grid-column: 4 / span 2;
  grid-row: 2;
}
label.sheet-hgmd0u {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  border-bottom: 1px solid #222;
}
label.sheet-hgmd0u:last-child {
  border-bottom: none;
}
input[type="text"].sheet-hgmd0u,
textarea.sheet-hgmd0u {
  box-sizing: border-box;
  display: block;
  margin: 0px;
  padding: 20px 5px 5px;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: auto;
  min-height: 45px;
  resize: vertical;
  font: 12px / 1.5 Courier, monospace;
  text-align: left;
  color: #444;
  background: transparent;
}
select.sheet-hgmd0u {
  background-color: transparent;
}
textarea.sheet-hgmd0u {
  min-height: 80px;
}
label > button.sheet-hgmd0u {
  padding-top: 20px !important;
  width: 100%;
}
label > button.sheet-hgmd0u::after {
  padding: 0;
  vertical-align: top;
}
span.sheet-hgmd0u {
  position: absolute;
  display: block;
  height: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  margin: 0 !important;
  padding: 5px !important;
  border: 0;
  border-radius: 0;
  font: italic 9px / 1.5 Georgia, serif !important;
  text-align: left;
  background: transparent;
}
span[title].sheet-hgmd0u::after {
  content: "i";
  display: inlie-block;
  margin-left: 3px;
  font-family: "Pictos";
  font-style: normal;
}
div.sheet-1epsh8q {
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}
div.sheet-ltabfj {
  float: left;
  width: 150px;
}
img.sheet-ltabfj {
  max-width: 100%;
  height: auto;
}
span.sheet-ltabfj {
  display: block;
  font: italic 9px /1.2 Georgia, serif;
  text-align: center;
}
.sheet-modetoggle {
  float: right;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 125px;
  height: 35px;
  border: 2px solid #222;
  border-radius: 3px;
}
.sheet-modetoggle:hover {
  background-color: #eee;
}
.sheet-modetoggle input[type="radio"] {
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.sheet-modetoggle input[type="hidden"][value="character"] ~ .sheet-mode-party {
  display: block;
}
.sheet-modetoggle input[type="hidden"][value="party"] ~ .sheet-mode-character {
  display: block;
}
.sheet-modetoggle::before {
  content: "Character";
  position: absolute;
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  font: 24px Georgia, serif;
  text-align: center;
}
.sheet-attributes {
  grid-column: 1;
  grid-row: 1 / span 5;
}
hr {
  position: relative;
  border: none;
  border-top: 2px solid #222;
}
.sheet-log {
  position: relative;
  clear: both;
  margin-top: 12px;
}
div.sheet-r5lskj:not(.sheet-drawer) {
  position: relative;
  padding-top: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
div:not(.sheet-drawer).sheet-boxed.sheet-r5lskj {
  padding-bottom: 4px;
  border: 2px solid #222;
}
div.sheet-r5lskj:not(.sheet-drawer)::before,
div:not(.sheet-drawer).sheet-boxed.sheet-r5lskj::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 6px;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  background-color: white;
}
div:not(.sheet-drawer).sheet-boxed.sheet-r5lskj::after {
  top: auto;
  top: initial;
  bottom: -2px;
}
div.sheet-r5lskj:not(.sheet-drawer):not(.sheet-boxed) {
  margin-top: 2px;
}
div.sheet-r5lskj:not(.sheet-drawer):not(.sheet-boxed)::before {
  border: 2px solid #222;
}
div.sheet-19fodwe {
  overflow: hidden;
}
h3.sheet-19fodwe {
  margin-top: 6px;
  font: bold 9px / 1.5 Georgia, serif;
  text-transform: uppercase;
  color: #222;
}
h3.sheet-19fodwe::first-letter {
  font-size: 12px;
}
label.sheet-mzabj1 {
  box-sizing: border-box;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  border: 2px solid #222;
  border-radius: 3px;
}
label.sheet-left.sheet-mzabj1 {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #222;
}
label.sheet-center.sheet-mzabj1 {
  border-radius: 0px;
  border-left: none;
  border-right: 1px solid #222;
}
label.sheet-right.sheet-mzabj1 {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}
input[type="text"].sheet-mzabj1 {
  display: block;
  margin: 0px;
  padding: 5px 5px;
  border: 0;
  border-radius: 0;
  width: 100%;
  height: 35px;
  resize: none;
  font: 20px Courier, monospace;
  text-align: center;
  color: #444;
  background: transparent;
}
button.sheet-mzabj1,
span.sheet-mzabj1 {
  position: relative;
  display: block;
  height: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  margin: 0 !important;
  padding: 5px !important;
  border: 0;
  border-top: 1px dashed #222;
  border-radius: 0;
  font: italic 9px / 1.5 Georgia, serif !important;
  text-align: center;
  background: transparent;
}
button.sheet-mzabj1 {
  padding-top: 1px !important;
  height: 14px;
}
label.sheet-1wjbjkl {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
input[type="text"].sheet-1wjbjkl {
  float: right;
  width: 60px;
  height: 20px;
  border: 1.5px solid #222;
  border-radius: 3px;
  background: white;
  text-align: center;
  font-family: Courier, monospace;
}
button.sheet-1wjbjkl,
span.sheet-1wjbjkl {
  display: block;
  float: left;
  height: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 !important;
  padding: 5px 0 !important;
  border: 0;
  border-radius: 0;
  font: bold 9px / 1.5 Georgia, serif !important;
  text-align: left;
  background: transparent;
}
button.sheet-1wjbjkl {
  padding-top: 1px !important;
  height: 14px;
}
.sheet-sessionlog {
  grid-column: 1 / span 1;
  grid-row: 6;
}
.sheet-sessionlog h2 {
  background-color: #ccc;
}
.sheet-sessionlog .sheet-tableheader > span:nth-child(2),
.sheet-sessionlog .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 65px);
  text-align: left;
}
.sheet-sessionlog .sheet-tableheader > span:nth-child(3),
.sheet-sessionlog .sheet-tablerow > input[type="text"]:nth-child(5) {
  width: 45px;
  border-left: 1px solid #222;
}
.sheet-sessionlog
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-sessionlog
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-sessionlog
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-caplogtable {
  margin-top: 12px;
  border-top: 1px solid #222;

  /* Fields */
}
.sheet-caplogtable .sheet-tableheader > span,
.sheet-caplogtable .sheet-tablerow > input[type="text"] {
  width: calc(100% / 2);
  text-align: center !important;
}
.sheet-caplogtable .sheet-tableheader > span:last-child,
.sheet-caplogtable .sheet-tablerow > input[type="text"]:last-child {
  border-left: 1px solid #222;
}
.sheet-log .repcontrol .btn::after {
  content: " Log";
}
input[type="checkbox"] {
  display: inline-block;
  margin-right: -14px;
  width: 10px;
  height: 10px;
  opacity: 0;
}
input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border: 2px solid #222;
  border-radius: 100%;
}
input[type="checkbox"]:checked + span::before {
  background: #222;
}
input[type="checkbox"].sheet-arrow {
  margin-left: 3px;
}
input[type="checkbox"].sheet-arrow + span::before {
  content: none;
}
input[type="checkbox"].sheet-arrow + span::after {
  content: "▼";
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
}
input[type="checkbox"].sheet-arrow:checked + span::after {
  content: "►";
}
input[type="checkbox"].sheet-cog {
  margin-left: 3px;
}
input[type="checkbox"].sheet-cog + span::before {
  content: none;
}
input[type="checkbox"].sheet-cog + span::after {
  content: "y";
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
  font-family: "Pictos";
  font-weight: normal;
  text-transform: none;
}
input[type="checkbox"].sheet-cog:checked + span::after {
  content: "y";
  color: firebrick;
}
input[type="checkbox"].sheet-small {
  height: 15px !important;
}
input[type="checkbox"].sheet-small + span {
  font: italic 9px / 1.5 Georgia, serif;
}
input[type="checkbox"].sheet-small + span::before {
  margin: 3px 6px 3px 0px !important;
  width: 3px;
  height: 3px;
}
.sheet-tablerow {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.sheet-tablerow input[type="checkbox"],
.sheet-tablerow input[type="checkbox"] + span {
  width: 20px;
  height: 28px;
  text-align: center;
}
.sheet-tablerow input[type="checkbox"] {
  margin-right: -20px;
}
.sheet-tablerow input[type="checkbox"] + span::before {
  margin: 9px auto;
}
.sheet-tablerow input[type="text"][class]:nth-child(3) {
  text-align: left;
}
.sheet-tablerow input[type="text"][class],
.sheet-tablerow select {
  padding: 3px 5px;
  min-height: 28px;
  text-align: center;
}
.sheet-tablerow > select {
  margin: 0px !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font: 9px Courier, monospace !important;
  color: #444;
  text-align: left;
  background: transparent;
}
.sheet-tablerow .sheet-drawer {
  width: 100%;
  border-bottom: 1px solid #222;
}
.sheet-tablerow .sheet-drawer ul {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px dashed #222;
}
.sheet-tablerow .sheet-drawer ul > li {
  display: inline-block;
  list-style: none;
}
.sheet-tablerow .sheet-drawer ul > li.sheet-id {
  float: right;
  width: 75px;
  vertical-align: middle;
  font: normal 9px / 1.5 Courier, monospace;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sheet-tablerow .sheet-drawer ul > li.sheet-id:hover {
  color: black;
}
.sheet-tablerow .sheet-drawer ul > li.sheet-id span {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.sheet-tablerow .sheet-drawer ul > li.sheet-id::before {
  content: "k";
  display: inline-block;
  font-family: "Pictos Three";
  font-style: normal;
  font-size: 14px;
  vertical-align: middle;
  line-height: 18px;
}
.sheet-tablerow .sheet-drawer > textarea {
  padding: 5px;
}
.repitem {
  border-bottom: 1px solid #222;
}
.repcontrol .btn {
  padding: 3px 6px;
  background: transparent;
  color: #222;
  text-shadow: none;
  box-shadow: none;
  border: none;
}
.sheet-tableheader.sheet-18p1e1v {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  height: 25px;
  vertical-align: bottom;
  border-bottom: 1px solid #222;
  background: #ccc;
}
span.sheet-18p1e1v {
  display: block;
  align-self: flex-end;
  box-sizing: border-box;
  margin-bottom: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20px;
  font: italic 9px /1.2 Georgia, serif;
  text-align: center;
  color: #222;
  border: none !important;
}
span[title].sheet-18p1e1v::after {
  content: "i";
  display: inlie-block;
  margin-left: 3px;
  font-family: "Pictos";
  font-style: normal;
}
.sheet-eye.sheet-18p1e1v {
  margin-bottom: 1px;
  width: 20px !important;
  font-size: 12px;
  font-style: normal;
}
.sheet-eye.sheet-18p1e1v::after {
  content: "E";
  font-family: "Pictos" !important;
}
span.sheet-18p1e1v:nth-child(2) {
  text-align: left;
  text-indent: 5px;
}
.sheet-tablerow > .sheet-toggle ~ div.sheet-drawer {
  display: none;
}
.sheet-tablerow > .sheet-toggle:checked ~ div.sheet-drawer {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed #222;
}
.sheet-pools {
  grid-column: 4 / span 3;
  grid-row: 1;
}
div.sheet-tnhjdp {
  float: left;
  overflow: hidden;
  margin-left: 4px;
  width: calc((100% - 8px) / 3);
}
div.sheet-tnhjdp:first-of-type {
  margin-left: 0;
}
h3.sheet-tnhjdp {
  margin-top: 6px;
}
.sheet-details {
  grid-column: 2 / span 2;
  grid-row: 1;
}
.sheet-sec.sheet-4g90va {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.sheet-sec.sheet-4g90va > div:not(:first-child) {
  margin-top: 12px;
}
.sheet-sec.sheet-4g90va h2 {
  background-color: #ccc;
}
.sheet-advantages .sheet-tableheader > span:nth-child(2),
.sheet-advantages .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 110px);
  text-align: left;
}
.sheet-advantages .sheet-tableheader > span:nth-child(3),
.sheet-advantages .sheet-tablerow > select:nth-child(5) {
  width: 90px;
  border-left: 1px solid #222;
}
.sheet-advantages
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-advantages
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-advantages
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ select:nth-child(n + 5) {
  display: none;
}
.sheet-advantages .repcontrol .btn::after {
  content: " Advantage";
}
.sheet-skills .sheet-tableheader > span:nth-child(2),
.sheet-skills .sheet-tablerow > input:nth-of-type(3) {
  width: calc(100% - 180px);
  text-align: left;
}
.sheet-skills .sheet-tableheader > span:nth-child(n + 3),
.sheet-skills .sheet-tablerow > input:nth-of-type(n + 4) {
  width: 35px;
  border-left: 1px solid #222;
}
.sheet-skills .sheet-tableheader > span:last-child {
  width: 55px;
}
.sheet-skills .sheet-tablerow > button:last-child {
  width: 20px;
}
.sheet-skills
  input[type="hidden"][name="attr_skill-skillset-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-skills .repcontrol .btn::after {
  content: " Skill";
}
.sheet-notes .sheet-tableheader > span:nth-child(2),
.sheet-notes .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 20px);
  text-align: left;
}
.sheet-notes input[type="hidden"][name*="header-toggle"][value="checked"] ~ * {
  background: #eee;
}
.sheet-notes
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-notes
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ select:nth-child(n + 5) {
  display: none;
}
.sheet-notes .repcontrol .btn::after {
  content: " Note";
}
.sheet-techniquestable {
  margin-top: 0;
  border-top: 0;

  /* Name Field */
}
.sheet-techniquestable .sheet-tableheader > span:nth-child(2),
.sheet-techniquestable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 160px);
  text-align: left;
  border-left: none;
}
.sheet-techniquestable .sheet-tableheader > span:nth-child(3),
.sheet-techniquestable .sheet-tablerow > input[type="text"]:nth-child(5) {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-techniquestable .sheet-tableheader > span:nth-child(4),
.sheet-techniquestable .sheet-tablerow > input[type="text"]:nth-child(6) {
  width: 50px;
  border-left: 1px solid #222;
}
.sheet-techniquestable .sheet-tableheader > span:nth-child(n + 5),
.sheet-techniquestable .sheet-tablerow > input[type="text"]:nth-child(n + 7) {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-techniquestable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-techniquestable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-techniquestable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-movebuttons {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
  border-bottom: none !important;
}
.sheet-movebuttons button {
  box-sizing: border-box;
  margin: 3px !important;
  padding: 6px 9px !important;
  width: calc(50% - 6px);
  font: 12px/1 Georgia, serif !important;
  border: 1px solid #222;
  border-radius: 3px;
}
.sheet-movebuttons button:hover,
.sheet-movebuttons button:active,
.sheet-movebuttons button:focus {
  background-color: #eee;
}
.sheet-movebuttons button:active {
  box-shadow: inset 1px 1px 1px 0 #222;
}
.sheet-techniquestable .repcontrol .btn::after {
  content: " Tech.";
}
.sheet-prayerstable .sheet-tableheader > span:nth-child(2),
.sheet-prayerstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 130px);
  text-align: left;
}
.sheet-prayerstable .sheet-tableheader > span:nth-child(3),
.sheet-prayerstable .sheet-tablerow > input[type="text"]:nth-child(5) {
  width: 50px;
  border-left: 1px solid #222;
}
.sheet-prayerstable .sheet-tableheader > span:nth-child(n + 4),
.sheet-prayerstable .sheet-tablerow > input[type="text"]:nth-child(n + 6) {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-prayerstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-prayerstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-prayerstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-movebuttons {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
  border-bottom: none !important;
}
.sheet-movebuttons button {
  box-sizing: border-box;
  margin: 3px !important;
  padding: 6px 9px !important;
  width: calc(50% - 6px);
  font: 12px/1 Georgia, serif !important;
  border: 1px solid #222;
  border-radius: 3px;
}
.sheet-movebuttons button:hover,
.sheet-movebuttons button:active,
.sheet-movebuttons button:focus {
  background-color: #eee;
}
.sheet-movebuttons button:active {
  box-shadow: inset 1px 1px 1px 0 #222;
}
.sheet-prayerstable .repcontrol .btn::after {
  content: " Prayer";
}
.sheet-armortable .sheet-tableheader > span:nth-child(2),
.sheet-armortable .sheet-tablerow > input[type="text"]:nth-child(3) {
  width: calc(100% - 175px);
  text-align: left;
}
.sheet-armortable .sheet-tableheader > span:nth-child(3),
.sheet-armortable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: 70px;
  border-left: 1px solid #222;
}
.sheet-armortable .sheet-tableheader > span:nth-child(4),
.sheet-armortable .sheet-tablerow > input[type="text"]:nth-child(5) {
  width: 40px;
  border-left: 1px solid #222;
}
.sheet-armortable .sheet-tableheader > span:nth-child(5),
.sheet-armortable .sheet-tablerow > input[type="text"]:nth-child(6) {
  width: 45px;
  border-left: 1px solid #222;
}
.sheet-weaponstable {
  margin-top: 12px;
  border-top: 1px solid #222;

  /* Name Field */
}
.sheet-weaponstable .sheet-tableheader > span:nth-child(2),
.sheet-weaponstable .sheet-tablerow > input[type="text"]:nth-child(3) {
  width: calc(100% - 175px);
  text-align: left;
}
.sheet-weaponstable .sheet-tableheader > span:nth-child(3),
.sheet-weaponstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: 110px;
  border-left: 1px solid #222;
}
.sheet-weaponstable .sheet-tableheader > span:nth-child(4),
.sheet-weaponstable .sheet-tablerow > input[type="text"]:nth-child(11) {
  width: 45px;
  border-left: 1px solid #222;
}
.sheet-weapondetails {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border-bottom: none !important;
}
.sheet-weapondetails label {
  width: 35px !important;
  border-bottom: none !important;
}
.sheet-weapondetails label:nth-child(2) {
  width: 80px !important;
}
.sheet-weapondetails label > input[type="text"] {
  padding-top: 20px !important;
}
.sheet-weapondetails label > select {
  margin: 0;
  margin-top: 20px;
  padding: 3px 5px;
  width: 100%;
  min-height: 21px;
  height: 21px;
  border: 0;
  border-radius: 0;
}
.sheet-weapondetails label > select option,
.sheet-weapondetails label > select {
  font: 12px / 1.5 Courier, monospace;
  text-align: center;
}
.sheet-weapondetails label > span {
  text-align: center;
}
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"]
  ~ label:not(:nth-child(2)) {
  display: none;
}
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="melee"]
  ~ label:nth-child(3),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="melee"]
  ~ label:nth-child(4),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="melee"]
  ~ label:nth-child(5),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="melee"]
  ~ label:nth-child(6),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="melee"]
  ~ label:nth-child(7) {
  display: block;
}
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="ranged"]
  ~ label:nth-child(8),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="ranged"]
  ~ label:nth-child(9) {
  display: block;
}
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="shield"]
  ~ label:nth-child(10),
.sheet-weapondetails
  input[type="hidden"][name*="weapon-type"][value="shield"]
  ~ label:nth-child(11) {
  display: block;
}
.sheet-attackbuttons {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
  border: none !important;
}
.sheet-attackbuttons button {
  box-sizing: border-box;
  margin: 3px !important;
  padding: 6px 9px !important;
  width: calc(33.333% - 6px);
  font: 12px/1 Georgia, serif !important;
  border: 1px solid #222;
  border-radius: 3px;
}
.sheet-attackbuttons button:hover,
.sheet-attackbuttons button:active,
.sheet-attackbuttons button:focus {
  background-color: #eee;
}
.sheet-attackbuttons button:active {
  box-shadow: inset 1px 1px 1px 0 #222;
}
.sheet-itemstable {
  margin-top: 12px;
  border-top: 1px solid #222;

  /* Name Field */
}
.sheet-itemstable .sheet-tableheader > span:nth-child(2),
.sheet-itemstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 95px);
  text-align: left;
  border-left: none;
}
.sheet-itemstable .sheet-tableheader > span:nth-child(4),
.sheet-itemstable .sheet-tablerow > input[type="text"]:nth-child(6) {
  width: 45px;
}
.sheet-itemstable .sheet-tableheader > span,
.sheet-itemstable .sheet-tablerow > input[type="text"] {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-itemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-itemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-itemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-combatloadtable {
  margin-top: 12px;
  border-top: 1px solid #222;

  /* Name Field */
}
.sheet-combatloadtable .sheet-tableheader > span,
.sheet-combatloadtable .sheet-tablerow > input[type="text"] {
  width: calc(100% / 3);
  text-align: center !important;
}
.sheet-combatloadtable .sheet-tableheader > span:nth-child(n + 5),
.sheet-combatloadtable .sheet-tablerow > input[type="text"]:nth-child(n + 5) {
  border-left: 1px solid #222;
}
.sheet-armortable .repcontrol .btn::after {
  content: " Armor";
}
.sheet-weaponstable .repcontrol .btn::after {
  content: " Weapon";
}
.sheet-itemstable .repcontrol .btn::after {
  content: " Item";
}
.sheet-otheritemstable {
  margin-top: 0;
  border-top: 0;

  /* Name Field */
}
.sheet-otheritemstable .sheet-tableheader > span:nth-child(2),
.sheet-otheritemstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 95px);
  border-left: none;
  text-align: left;
}
.sheet-otheritemstable .sheet-tableheader > span:nth-child(4),
.sheet-otheritemstable .sheet-tablerow > input[type="text"]:nth-child(6) {
  width: 45px;
}
.sheet-otheritemstable .sheet-tableheader > span,
.sheet-otheritemstable .sheet-tablerow > input[type="text"] {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-otheritemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-otheritemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-otheritemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-travelloadtable {
  margin-top: 12px;
  border-top: 1px solid #222;

  /* Name Field */
}
.sheet-travelloadtable .sheet-tableheader > span,
.sheet-travelloadtable .sheet-tablerow > input[type="text"] {
  width: calc(100% / 3);
  text-align: center !important;
}
.sheet-travelloadtable .sheet-tableheader > span:nth-child(n + 3),
.sheet-travelloadtable .sheet-tablerow > input[type="text"]:nth-child(n + 3) {
  border-left: 1px solid #222;
}
.sheet-otheritemstable .repcontrol .btn::after {
  content: " Item";
}
.sheet-maneuvers {
  grid-column: 6;
  grid-row: 2 / span 5;
}
div.sheet-ys69e9 {
  overflow: hidden;
}
div.sheet-ys69e9 button {
  padding: 1px 0 5px !important;
}
h3.sheet-ys69e9 {
  margin-top: 6px;
  font: bold 9px / 1.5 Georgia, serif;
  text-transform: uppercase;
  color: #222;
}
h3.sheet-ys69e9::first-letter {
  font-size: 12px;
}
.sheet-partydetails {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.sheet-partymemberstable {
  margin-top: 0;
  border-top: 0;

  /* Name Field */
}
.sheet-partymemberstable .sheet-tableheader > span:nth-child(2),
.sheet-partymemberstable .sheet-tablerow > input[type="text"]:nth-child(3) {
  width: 80px;
  text-align: left;
}
.sheet-partymemberstable .sheet-tableheader > span:nth-child(3),
.sheet-partymemberstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 100px);
  border-left: 1px solid #222;
  text-align: left;
}
.sheet-notes {
  grid-column: 3 / span 2;
  grid-row: 1;
}
.sheet-notes h2 {
  background-color: #ccc;
}
.sheet-notes .sheet-tableheader > span:nth-child(2),
.sheet-notes .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 20px);
  text-align: left;
}
.sheet-notes input[type="hidden"][name*="header-toggle"][value="checked"] ~ * {
  background: #eee;
}
.sheet-notes
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-notes
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ select:nth-child(n + 5) {
  display: none;
}
.sheet-notes .repcontrol .btn::after {
  content: " Note";
}
.sheet-partyinventory {
  grid-column: 5 / span 2;
  grid-row: 1;
}
.sheet-partyinventory h2 {
  background-color: #ccc;
}
.sheet-partyitemstable {
  margin-top: 0;
  border-top: 0;

  /* Name Field */
}
.sheet-partyitemstable .sheet-tableheader > span:nth-child(2),
.sheet-partyitemstable .sheet-tablerow > input[type="text"]:nth-child(4) {
  width: calc(100% - 95px);
  border-left: none;
  text-align: left;
}
.sheet-partyitemstable .sheet-tableheader > span:nth-child(4),
.sheet-partyitemstable .sheet-tablerow > input[type="text"]:nth-child(5) {
  width: 45px;
}
.sheet-partyitemstable .sheet-tableheader > span,
.sheet-partyitemstable .sheet-tablerow > input[type="text"] {
  width: 30px;
  border-left: 1px solid #222;
}
.sheet-partyitemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ * {
  background: #eee;
}
.sheet-partyitemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(4) {
  width: calc(100% - 20px);
}
.sheet-partyitemstable
  input[type="hidden"][name*="header-toggle"][value="checked"]
  ~ input:nth-child(n + 5) {
  display: none;
}
.sheet-partyitemstable .repcontrol .btn::after {
  content: " Item";
}
div.sheet-12w2t4 {
  width: 230px;
  border: 1px dashed firebrick;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox {
  box-sizing: border-box;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 !important;
  padding: 0 !important;
  border: 2px solid black;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rollheader,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rollheader,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rollheader,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rollheader {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
  background-color: black;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rollheader::after,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rollheader::after,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rollheader::after,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rollheader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  display: block;
  width: 100%;
  height: 15px;
  background: transparent url("https://thelastbook.github.io/sheet/strip.png")
    center bottom no-repeat;
  background-size: auto 30px;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox p.sheet-rollprelude,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox p.sheet-rollprelude,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox p.sheet-rollprelude,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox p.sheet-rollprelude {
  font: 10px Georgia, serif;
  color: #aaa;
  text-transform: uppercase;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  p.sheet-rollprelude::first-letter,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  p.sheet-rollprelude::first-letter,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  p.sheet-rollprelude::first-letter,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  p.sheet-rollprelude::first-letter {
  font-size: 12px;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox p.sheet-rollprelude em,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox p.sheet-rollprelude em,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox p.sheet-rollprelude em,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox p.sheet-rollprelude em {
  font-style: normal;
  color: #eee;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rolltitle,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rolltitle,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rolltitle,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rolltitle {
  display: block;
  font: bold italic 24px Georgia, serif;
  color: white;
  text-transform: uppercase;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rolltitle::first-letter,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolltitle::first-letter,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rolltitle::first-letter,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolltitle::first-letter {
  font-size: 30px;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rollcontent,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rollcontent,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rollcontent,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rollcontent {
  padding: 10px;
  padding-top: 15px;
  background: white;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    white;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rolltype,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rolltype,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rolltype,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rolltype {
  display: block;
  font: 14px Georgia, serif;
  color: black;
  text-transform: uppercase;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rolloutput,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rolloutput,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rolloutput,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rolloutput {
  display: block;
  padding: 6px 0 0;
  font: 14px Courier, monospace;
  color: #aaa;
  text-transform: uppercase;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfail,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfail,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfail,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfail {
  display: block;
  font-weight: bold;
  color: black;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfumble,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfumble,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfumble,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollfumble {
  display: block;
  font-weight: bold;
  color: firebrick;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollcrit,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollcrit,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollcrit,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollcrit {
  display: block;
  font-weight: bold;
  color: green;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult {
  display: inline-block;
  font-size: 26px;
  color: black;
}
.sheet-rolltemplate-TLBskillRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult:not(:last-child)::after,
.sheet-rolltemplate-TLBabilityRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult:not(:last-child)::after,
.sheet-rolltemplate-TLBattackRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult:not(:last-child)::after,
.sheet-rolltemplate-TLBdamageRoll
  .sheet-rollbox
  .sheet-rolloutput
  .sheet-rollresult:not(:last-child)::after {
  content: ", ";
  display: inline-block;
  font: 14px Courier, monospace;
  color: #aaa;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox hr,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox hr,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox hr,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox hr {
  margin: 6px 0 !important;
  padding: 0 !important;
  border-top: 1px solid black;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .sheet-rollnote,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .sheet-rollnote,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .sheet-rollnote,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .sheet-rollnote {
  font: italic 12px Courier, monospace;
  color: #666;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .inlinerollresult,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .inlinerollresult,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .inlinerollresult,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .inlinerollresult {
  border: none;
  background: transparent;
  padding: unset;
  font-weight: unset;
  font-size: unset;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .inlinerollresult.fullfail,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .inlinerollresult.fullfail,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .inlinerollresult.fullfail,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .inlinerollresult.fullfail {
  border: none;
  color: firebrick;
}
.sheet-rolltemplate-TLBskillRoll .sheet-rollbox .inlinerollresult.fullcrit,
.sheet-rolltemplate-TLBabilityRoll .sheet-rollbox .inlinerollresult.fullcrit,
.sheet-rolltemplate-TLBattackRoll .sheet-rollbox .inlinerollresult.fullcrit,
.sheet-rolltemplate-TLBdamageRoll .sheet-rollbox .inlinerollresult.fullcrit {
  border: none;
  color: green;
}
